@import '../../styles/colours';

.card-container {
  padding: 10px 15px;
  border-radius: 5px;
  background: $grey;
  -webkit-box-shadow: 0 7px 8px 0 rgba(0,0,0,0.21);
  box-shadow: 0 7px 8px 0 rgba(0,0,0,0.21);
}
