@import './styles/colours';
@import url('https://fonts.googleapis.com/css?family=Arvo');

#main {
  min-height: 100vh;

  &.desktop {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
  }

  &.mobile {
    display: grid;
    grid-template-rows: 50px 1fr;
  }

  .sidebar-container {
    background: #f2f2f2;
  }

  .content-container {
    display: grid;
    grid-template-columns: 0.05fr 0.9fr 0.05fr;
    grid-template-areas: '. content .';
    background: white;

    // Apply some top padding on larger viewports (desktop view)
    @media not screen and (max-width: 1024px) {
      padding-top: 100px;
    }

    .content {

      .body {
        font-family: 'Arvo', '';
      }

      grid-area: content;
    }
  }
}

.divider-thick {
  height: 4px;
}

.bg-green-primary {
  background: $green-primary;
}

.bg-green-secondary {
  background: $green-secondary;
}

.bg-green-dark {
  background: $green-dark;
}

.App-link {
  color: #61dafb;
}
